.materialTitle {
  font-weight: bold;
}
.beschreibungTitle {
  font-weight: bold;
}
.titelTitle {
  font-weight: bold;
}
.eigenes-materialTitle {
  font-weight: bold;
}
.kategorieTitle {
  font-weight: bold;
}
.eigene-kategorieTitle {
  font-weight: bold;
}
.Daten {
  background-color: #b5bf3c;
}
#kategorien-dropdown {
  background-color: #b5bf3c;
}
#beschreibung {
  background-color: #b5bf3c;
  color: white;
}
#bezeichnung {
  background-color: #b5bf3c;
  color: white;
}
#eigenes-material {
  background-color: #b5bf3c;
  color: white;
}
#kategorien {
  background-color: #b5bf3c;
  color: white;
}
